.about {
  background-color: @basic_blue_dark;
  color: @basic_white;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  @media (min-width: @desktop) {
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }
}

.about__wrapper {
  .wrapper;
  background-image: url("/img/about_mobile_background.png");
  background-repeat: no-repeat;
  background-position-x: center;

  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.about__wrapper--text {
  padding-left: 29px;
  padding-top: 33px;
  padding-bottom: 82px;

  @media (min-width: @tablet) {
    padding-top: 41px;
    padding-left: 34px;
    padding-bottom: 89px;
    width: 40%;
    margin-left: 0;
  }

  @media (min-width: @desktop) {
    padding-left: 70px;
  }
}

.about__title {
  .title--orange;

  @media (min-width: @tablet) {
    .title--orange_tablet;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 52px;
  }
}

.about__text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet) {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 31px;
  }

  @media (min-width: @desktop) {
    line-height: 34px;
    width: 620px;
    margin-bottom: 38px;
  }
}

.about__text--bold {
  font-weight: 700;

  @media (min-width: @tablet) {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 52px;
  }

  @media (min-width: @desktop) {
    width: 425px;
    line-height: 24px;
    margin-bottom: 85px;
  }
}

.about__button {
  display: block;
  .button-tablet;

  @media (max-width: @mobile_only) {
    display: none;
  }

  @media (min-width: @desktop) {
    min-width: 274px;
  }
}
