.about {
  position: relative;
  z-index: 2;
  background-color: @basic_blue_dark;
  color: @basic_white;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  @media (min-width: @tablet) {
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }

  @media (min-width: @desktop) {
    margin-top: -60px;
    padding-top: 60px;
  }
}

.about__wrapper {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  .wrapper;
  background-image: url("../img/about_mobile_background.png");
  background-repeat: no-repeat;
  background-position-x: 20px;

  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../img/about_tablet_background.png");
    background-position: right 8px top 48px;
    background-size: 376px auto;
  }

  @media (min-width: @desktop) {
    padding-top: 88px;
    padding-bottom: 74px;
    background-image: url("../img/about_desktop_background.png");
    background-position: right 0 bottom 0;
    background-size: 630px auto;
  }
}

.about__wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 113px;
  height: 132px;
  background-color: @special_blue_dark_2;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: @tablet) {
    top: 0;
    left: 40px;
    width: 688px;
    height: 213px;
    border-radius: 20px;
  }

  @media (min-width: @desktop) {
    top: 70px;
    left: 0;
    width: 213px;
  }
}

.about__wrapper-text {
  width: 211px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 63px;

  @media (min-width: @tablet) {
    padding-top: 40px;
    padding-left: 34px;
    padding-bottom: 91px;
    width: 45%;
    margin-left: 0;
  }

  @media (min-width: @desktop) {
    padding-left: 10px;
  }
}

.about__title {
  .title--orange;

  @media (min-width: @tablet) {
    .title--orange_tablet;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 57px;
  }
}

.about__text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet) {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 31px;
  }

  @media (min-width: @desktop) {
    line-height: 34px;
    width: 620px;
    margin-bottom: 38px;
  }
}

.about__text--bold {
  display: block;
  font-weight: 700;

  @media (min-width: @tablet) {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 52px;
  }

  @media (min-width: @desktop) {
    width: 425px;
    line-height: 24px;
    margin-bottom: 87px;
  }
}

.about__button {
  display: block;
  .button-tablet;
  justify-content: space-between;

  @media (max-width: @mobile_only) {
    display: none;
  }

  @media (min-width: @desktop) {
    width: 274px;
  }
}

.about__button::after {
  content: "";
  margin-right: 12px;
  margin-top: 3px;
  border-width: 7px 10px;
  border-style: solid;
  border-color: transparent transparent transparent @basic_blue_light;
  padding-right: 14px;
}
