.address {
  color: @basic_blue_light;
}

.address__wrapper {
  .wrapper;
  background-color: @basic_yellow;
  padding-top: 31px;
  padding-bottom: 35px;
}

.address__text {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
}

.address__wrapper a {
  .link-reset;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.address__to-route-map {
  border: 3px solid @basic_blue_dark;
}
