.button-photo-change {
  font-family: inherit;
  background-color: @special_blue_light;
  color: @basic_blue;
  min-width: 270px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 20px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
  border: none;
}
