.companions {
  background-color: @basic_blue_dark;

  color: @basic_white;
  padding-top: 34px;
}

.companions ul {
  margin: 0;
  padding: 0;
}

.companions__wrapper {
  .wrapper;
  background-image: url(/img/companions_background_1.png), url(/img/companions_background_2.png), url(/img/companions_background_3.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 0%, top right, left 18%;

  &--text {
    padding-left: 24px;
    padding-right: 29px;
    padding-top: 34px;
    margin-bottom: 54px;
  }
}

.companions__title {
  .title--orange;
}

.companions__text {
  margin: 0;
  margin-bottom: 25px;

  &--bold {
    font-weight: 700;
  }
}

.companions__user-card {
  background-color: @basic_white;
  padding: 27px 36px 20px 46px;
}

.companions__user-name {
  color: @basic_blue_light;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}

.companions__user-interests {
  color: @special_grey;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin: 0;
  margin-bottom: 14px;
}

.companions__user-level-number {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.companions__user-level-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

