.contacts__wrapper {
  .wrapper;
  padding-bottom: 30px;
}

.contacts__wrapper a {
  .link-reset;
  color: @basic_yellow;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts__wrapper p {
  margin: 0;
  text-align: center;
}
