.country-add-button {
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  height: auto;
  min-width: 220px;
  padding: 0;
  border: none;
  align-items: center;
}

.country-add-button__link {
  .link-reset;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: @basic_blue_light;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.09em;
  }
}
