.description {
  background-color: @basic_blue;
  color: @basic_white;
  padding-bottom: 39px;
  .outline;
}

.description__slogan {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 auto;
  width: 238px;
}

.description__feedback {
  margin-bottom: 29px;
}

.description__feedback-author {
  font-weight: 700;
}

.description__list {
  .list-reset;
  padding: 0;
  margin: 0;
  color: @basic_blue;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}
