.directions {
  background-color: @basic_blue_dark, @basic_background;
  .outline;
  .wrapper;
  padding-top: 71px;
}

.directions__title {
  .title--orange;
}

.directions__text {
  margin: 0;
  padding: 0;
}

.directions__wrapper--text {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 60px;
}

.directions__list {
  .list-reset;
  margin: 0;
  padding: 0;
}
