.main-nav__wrapper {
  background-color: @basic_white;
  .wrapper;
  display: none;
}

.main-nav__list a {
  .link-reset;
  color: @basic_blue_dark;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
}

.site-list,
.user-list,
.social__list {
  padding: 0;
  margin: 0 auto;

}

.user-list a,
.social__list a {
  .link-reset;
}

.login-link {
  color: @basic_blue;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.phone-link,
.email-link {
  color: @basic_blue_dark;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

