.page-header {
  background-color: @basic_blue;

  @media (min-width: @tablet) {
    background-color: @special_blue_dark;
  }

  @media (min-width: @desktop) {
    background-color: @basic_blue_dark;
    min-height: 53px;
  }
}

.page-header--main {
  min-height: 569px;
  background-image: url("/img/traveller_mobile.png"), url("/img/header_mobile_background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 62% 222px, 0 0;
  color: @basic_white;

  // временно отключено фоновое изображение
  @media (min-width: @tablet) {
    background-image: none;
  }
}

.page-header--form {
  background-color: @special_blue_dark;
}

.page-header--catalog {
  background-color: @special_blue_dark;
  padding-left: 26px;
  padding-top: 19px;
}

.page-header__logo-main {
  display: block;
  width: 100px;
  height: 16px;
  margin-right: auto;

  @media (min-width: @tablet) {
    width: 166px;
    height: 42px;
    order: -3;
  }

  @media (min-width: @desktop) {
    width: 200px;
    height: 52px;
    margin-right: 40px;
  }
}

.page-header__logo-main img {
  width: 96px;
  height: 15px;
}
