.pagination {
  margin-bottom: 46px;
}

.pagination__wrapper {
  background-color: @basic_white;
  min-width: 230px;
  min-height: 51px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}
