.plan-addition {
  background-color: @basic_grey_light;
  padding-top: 30px;
  padding-bottom: 33px;
}

.plan-addition__wrapper {
  .wrapper;
}

.plan-addition__title {
  .title;
  color: @basic_blue_light;
}
