.registration {
  background-color: @basic_blue_dark;
  padding-top: 97px;
  color: @basic_white;
}

.registration__wrapper {
  .wrapper;
}

.registration__title {
  .title--orange;
}

.registration__wrapper--text {
  padding-left: 27px;
  padding-right: 27px;
  margin-bottom: 29px;
  text-align: center;
}

.registration__text {
  margin: 0;
  padding: 0;
}

.registration__form {
  min-width: 270px;
  margin-bottom: 29px;
}
