.tarifs {
  background-color: @special_grey_light_2;
  padding-top: 37px;
  padding-bottom: 5px;
}

.tarifs__wrapper {
  padding-left: 49px;
  padding-right: 25px;
}

.tarifs__title {
  .title--orange;
}

.tarifs__list {
  line-height: 16px;
  margin-bottom: 31px;
}

.tarifs__to-all {
  .link-reset;
  color: @special_blue_middle;
  font-weight: 700;
  line-height: 16px;
}
