.user-tags__title,
.user-transport__title {
  color: @basic_blue_light;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.user-tags__text {
  font: inherit;
  color: inherit;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.6;
}
